@import './tailwind.css';
@import '../fonts/fonts.css';

html {
  background-color: #fffbf0;
}

body {
  @apply h-screen w-full;
}

html::after {
  content: '';
  @apply fixed top-0 left-0 right-0 bottom-0 z-[-1] pointer-events-none;
  background-image: var(--texture);
}
html::before {
  content: '';
  @apply fixed top-0 left-0 right-0 bottom-0 z-[-1] pointer-events-none;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: var(--bg-img);
  background-size: 16vw auto;
  background-position: 84vw bottom;
  transition: background-image 0.8s;
  opacity: 1;
}

*::selection {
  background-color: var(--ring);
  color: var(--primary);
}

/* 自定义滚动条样式 - 基于新的主题变量 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--background);
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--primary);
  transition: background-color 0.3s ease;
}

#nprogress .bar {
  background-color: var(--primary) !important;
}
