@import url('./tailwind.css');
@import url('https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/lxgwwenkai/dist/LXGWWenKai-Bold/result.css');
@import url('https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/cezkzdbs/dist/仓耳周珂正大榜书/result.css');
@layer components {
  :root {
    --font-color: #374151;
    scrollbar-gutter: stable both-edges;
    overflow-y: overlay;
  }
  html {
    @apply overflow-x-hidden text-gray-800;
  }

  body {
    @apply container mx-auto flex justify-center min-h-screen;
    font-family: 'LXGW WenKai';
  }

  body::after {
    @apply fixed top-0 left-0 w-screen h-screen;
    background-color: var(--theme-translucent-color);
    background-image: url('@/assets/textures/frosted.png');
    content: '';
    z-index: -2;
  }
  body::before {
    @apply fixed top-0 left-0 w-screen h-screen bg-fixed bg-center bg-cover bg-no-repeat;
    content: '';
    z-index: -1;
    opacity: 0.5;
    background-image: var(--background-image);
    background-size: 60% auto;
    background-position: right center;
    transition: background-image 0.8s;
  }

  #app {
    @apply flex  justify-center w-full;
  }

  .page {
    @apply relative max-w-screen-lg min-h-screen px-4 py-24 tracking-wide sm:px-0 lg:py-16 flex-1;
  }
}
